body {
    box-sizing: border-box;
    padding: 0px;
    background-image: url(assets/Background.png);
    background-size: cover;
    font-family: "roboto", sans-serif;
    margin: 0;
}

#container {
    width: 75%;
    margin: 0px auto;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    height: 30%;
    box-shadow: 1px 1px 10px 1px grey;
    margin-top: 7%;
}

#hero {
    background-color: #013243;
    width: 50%;
    padding: 20px 20px 0px 20px;
    box-sizing: border-box;
}

#form {
    width: 50%;
    background-color: white;
    padding: 30px 60px 30px 60px;
    box-sizing: border-box;
}

#hero-img {
    margin-top: 50px;
    margin-left: 40px;
}

img {
    width: 90%;
    height: auto;
}

#hero h1 {
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

p {
    color: #82bbcf;
    text-align: center;
    margin-top: 7px;
}

#form h1 {
    color: black;
}

label {
    font-weight: bold;
}

.field {
    width: 90%;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.555);
    margin: 8px 0px 20px 0px;
    box-sizing: border-box;
    font-weight: 500;
}

label a {
    color: #013243;
    font-weight: bold;
}

.checkbox {
    font-weight: 400;
}

button {
    width: 90%;
    font-family: "roboto", sans-serif;
    background-color: #013243;
    color: white;
    border: 0px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px;
    margin-top: 20px;
    box-sizing: border-box;
}

button:hover {
    background-color: white;
    color: #013243;
    border: 1px solid #013243;
    transition: 0.3s;
}

@media screen and (max-width: 1070px) {
    #container {
        flex-direction: column;
        width: 50%;
    }

    #form {
        width: 100%;
        padding: 30px 60px 40px 60px;
    }

    #hero {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    body {
        background-image: none;
    }

    #container {
        width: 100%;
        box-shadow: none;
        border-radius: 0;
        margin-top: 0;
    }

    .field {
        width: 100%;
    }

    button {
        width: 100%;
    }

    #form {
        padding: 30px 40px 40px 40px;
    }
}